<h1><%= 'Контакти' %></h1>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Новий контакт', new_admin_contact_path, class: 'btn btn-outline-primary btn-sm' %>
<% end %>


<section id='contacts'>
  <%= render @contacts %>
</section>
